In [1]:
print('Hello world')

Hello world

In [2]:
print('Hello today I am learning machine learning and data science.')

Hello today I am learning machine learning and data science.

In [3]:
#Complex

In [4]:
z=3+4j

In [5]:
a=complex(3,4)

In [6]:
type(a)

complex

## String

In [7]:
text = 'Nisha Pokharel'
text.lower()

'nisha pokharel'

In [8]:
text.title()

'Nisha Pokharel'

In [9]:
text.strip()

'Nisha Pokharel'

In [10]:
text.split(',')

['Nisha Pokharel']

##Sequence Type
.List
.Tuple

In [11]:
list1 = [1,'abc',2.3,1]
type(list1)

list

In [12]:
tuple1 = (1,'abc',2.3,1)
type(tuple1)

tuple

In [13]:
list1[0]

1

In [14]:
list1[0] =5 #Mutable
list1

[5, 'abc', 2.3, 1]

In [15]:
tuple1[0]=2 #Immutable

TypeError: 'tuple' object does not support item assignment

#Set

In [16]:
set1 = {1,'abc',2.3,1}
type(set1)

set

In [17]:
set1 #It store only unique values

{1, 2.3, 'abc'}

## Dictionary

In [21]:
dict1 = {'key1': 'values1','key2': 'values2'} #Fast than others yesle key ma j xa tei search garxa aru ma chai purai list search hunxa
dict1['key1']

'values1'

## Boolean type

In [22]:
x = 4
y = x>11
type(y)

bool

## Conditional Statement

In [23]:
if x > 11:
    print('x is greater that 11')
else:
    print('x is less than 11')

x is less than 11

In [25]:
x=0

In [26]:
if x > 11:
    print('x is greater that 11')
elif x ==0 :
    print('x is zero')
else:
    print('Other')

x is zero

## Loops

In [27]:
list1 = [1,2,3,4]
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [66]:
list1 = [1, 2, 8, 9]

for i in list1:
    squared = i ** 2
    print(squared)

1
4
64
81

In [67]:
list1 = [1,2,9,4]
for i in range(len(list1)):
    list1[i]=list1[i]**2

In [29]:
list1

[1, 4, 9, 16]

In [31]:
#Runs until the condition is true
x = 0
while x < 5:
    print(x)
    x+=1

0
1
2
3
4

## Functions

In [32]:
def func1():
    print('Hello World')

In [33]:
func1()

Hello World

In [34]:
def add(a,b,c):
    return(a+b+c)

In [43]:
add(2,3,4) #Positional arguments, vaneko sequence mai values dina parxa

9

In [37]:
add(2,3)

TypeError: add() missing 1 required positional argument: 'c'

In [40]:
def add_num(a,b=0,c=0): #key word argument
    return(a+b+c)

In [39]:
add_num(1,2)

3

In [41]:
add_num(1,c=8)

9

In [42]:
def add_num(a,b=0,c=0): #key word argument
    print(a)
    print(b)
    print(c)
    return(a+b+c)
add_num(3,c=8)

3
0
8

11

## Class and object

In [52]:
class ADD:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
        
    def add_two_nos(self):
        return self.a + self.b
    
    def add_three_nos(self):
        return self.a + self.b + self.c

In [53]:
add1 = ADD(2,3,4)

In [54]:
add2 = ADD(1,3,5)

In [55]:
add1.add_two_nos()

5